<div class="container-fluid pt-5 ">
    <h1 class="text-center ">Courses We Offer</h1>
    <h3 class="text-center ">ONLINE & OFFLINE CLASSES</h3>

    <div class="row mt-5  ">
        <div class="col-lg-6 col-sm-12 custom-card">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="/assets/images/art.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tuition | Grade 1st-10th</h5>
                    <p class="card-text">Whether you’re in 1st grade or approaching 10th grade, we bring together
                        knowledge, fun, and success</p>
                    <a href="#" class="btn btn-danger ">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 custom-card">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="/assets/images/child.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vedic Maths</h5>
                    <p class="card-text">No more boring and long calculations – with Vedic Maths, you’ll be a math whiz
                        in no time!</p>
                    <a href="#" class="btn btn-danger ">learn more</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-5  ">
        <div class="col-lg-6 col-sm-12 custom-card">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="/assets/images/art.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tuition | Grade 1st-10th</h5>
                    <p class="card-text">Whether you’re in 1st grade or approaching 10th grade, we bring together
                        knowledge, fun, and success</p>
                    <a href="#" class="btn btn-danger ">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 custom-card">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="/assets/images/child.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vedic Maths</h5>
                    <p class="card-text">No more boring and long calculations – with Vedic Maths, you’ll be a math whiz
                        in no time!</p>
                    <a href="#" class="btn btn-danger">learn more</a>
                </div>
            </div>
        </div>

    </div>
</div>