<nav class="custom-nav navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
            <span><img src="assets/menu.svg" width="35px" alt="menu"></span>
        </button>
        <a class="navbar-brand custom-brand" href="#">
            <p>GENIUS </p>
            <p>COACHING</p>
            <p>POINT</p>
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-0 ms-auto ">
                <li class="nav-item">
                    <a class="nav-link custom-link" href="#">Cources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="#">Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="#">Contact</a>
                </li>

            </ul>
            <div class="d-flex">
                <img src="assets/whatsapp.svg" width="20px" alt="whatsapp-icon">
                <span class="ms-2" style="color: #fff;">9891929394</span>
            </div>
        </div>
    </div>
</nav>